{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "app": "./",
        "models": "./models",
        "routes": "./routes",
        "controllers": "./controllers",
        "utils": "./utils",
      }
    }]
  ]
}
